body {
  background-image: url("AdobeStock_427226621.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(12, 39, 71);
  font-size: 19px;
  font-weight: bold;
}

.calculator-container {
  width: 90%; /* Adjust the width for better responsiveness */
  max-width: 400px; /* Set a maximum width to avoid stretching on larger screens */
  background-color: #88eff7;
  padding: 30px;
  border-radius: 30px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  font-size: large;
  padding: 10px;
  margin-bottom: 20px; /* Adjust the margin for a cleaner look */
  border-radius: 10px;
  border: none;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

button {
  background-color: #212266;
  font-size: 20px;
  color: #fff;
  padding: 10px 20px; /* Adjust padding for a cleaner button */
  margin-left: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(11, 37, 70);
}

.results {
  margin-top: 1%;
  font-weight: bold;
}
