body {
      /* Set the background image and define its properties */
  background-image: url("AdobeStock_427226621.jpeg"); /* Replace 'path/to/your/photo.jpg' with the actual path to your photo */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 100vh; /* Set the body height to 100% of the viewport height */
  margin: 0; /* Remove default margin */
  font-family: 'Arial', sans-serif;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(12, 39, 71);
  font-size: 19em;
  font-weight: bold;
}

.calculator-container {
  position: relative;
  right: 200em;
  background-color: #88eff7;
  padding-left: 30em;
  padding-right: 30em;
  padding-bottom: 30em;
  border-radius: 30em;
}

label {
  display: block;
  margin-bottom: 10em;
}

input {
  font-size:large;
  padding: 10em;
  margin-bottom: 30em;
  border-radius: 10em;
  border: none;
}
/*input:hover::placeholder {
  color: red;
  content: "Enter something..."; 
}

input::placeholder {
  color: rgb(185, 46, 46);
}*/
button {
  background-color: #212266;
  font-size: 20em;
  color: #fff;
  padding-left: 20em;
  padding-right: 20em;
  padding-top: 10em;
  padding-bottom: 10em;

  margin-left: 20em;
  border: none;
  border-radius: 20em;
  cursor: pointer;
}

button:hover {
  background-color: rgb(11, 37, 70);
}

.results{
  margin-top: 1%;
  font-weight: bold;
}
